In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Data Preparation

## a. Load the Data

In [ ]:
aug1 = pd.read_excel('Order.all.20240801_20240831_part_1_of_7.xlsx')
aug2 = pd.read_excel('Order.all.20240801_20240831_part_2_of_7.xlsx')
aug3 = pd.read_excel('Order.all.20240801_20240831_part_3_of_7.xlsx')
aug4 = pd.read_excel('Order.all.20240801_20240831_part_4_of_7.xlsx')
aug5 = pd.read_excel('Order.all.20240801_20240831_part_5_of_7.xlsx')
aug6 = pd.read_excel('Order.all.20240801_20240831_part_6_of_7.xlsx')
aug7 = pd.read_excel('Order.all.20240801_20240831_part_7_of_7.xlsx')

sep1 = pd.read_excel('Order.all.20240901_20240930_part_1_of_7.xlsx')
sep2 = pd.read_excel('Order.all.20240901_20240930_part_2_of_7.xlsx')
sep3 = pd.read_excel('Order.all.20240901_20240930_part_3_of_7.xlsx')
sep4 = pd.read_excel('Order.all.20240901_20240930_part_4_of_7.xlsx')
sep5 = pd.read_excel('Order.all.20240901_20240930_part_5_of_7.xlsx')
sep6 = pd.read_excel('Order.all.20240901_20240930_part_6_of_7.xlsx')
sep7 = pd.read_excel('Order.all.20240901_20240930_part_7_of_7.xlsx')

oct1 = pd.read_excel('Order.all.20241001_20241031_part_1_of_8.xlsx')
oct2 = pd.read_excel('Order.all.20241001_20241031_part_2_of_8.xlsx')
oct3 = pd.read_excel('Order.all.20241001_20241031_part_3_of_8.xlsx')
oct4 = pd.read_excel('Order.all.20241001_20241031_part_4_of_8.xlsx')
oct5 = pd.read_excel('Order.all.20241001_20241031_part_5_of_8.xlsx')
oct6 = pd.read_excel('Order.all.20241001_20241031_part_6_of_8.xlsx')
oct7 = pd.read_excel('Order.all.20241001_20241031_part_7_of_8.xlsx')
oct8 = pd.read_excel('Order.all.20241001_20241031_part_8_of_8.xlsx')

In [ ]:
df = pd.concat([aug1,aug2,aug3,aug4,aug5,aug6,aug7,sep1,sep2,sep3,sep4,sep5,sep6,sep7,
                oct1,oct2,oct3,oct4,oct5,oct6,oct7,oct8], axis=0)

## b. Select Necessary Columns

In [3]:
column_names = ['No. Pesanan', 'Status Pesanan', 'Waktu Pesanan Dibuat', 'Metode Pembayaran', 'SKU Induk', 'Nama Produk', 'Total Harga Produk', 'Jumlah Produk di Pesan', 'Total Pembayaran']
necessary_column_data = df[column_names]

## c. Filter Data: 'Pesanan Selesai' Only

In [4]:
pesanan_selesai = necessary_column_data[necessary_column_data['Status Pesanan']=='Selesai']

In [5]:
pesanan_selesai.columns

Index(['No. Pesanan', 'Status Pesanan', 'Waktu Pesanan Dibuat',
       'Metode Pembayaran', 'SKU Induk', 'Nama Produk', 'Total Harga Produk',
       'Jumlah Produk di Pesan', 'Total Pembayaran'],
      dtype='object')

## d. Convert Data and Add Column

**Convert 'Waktu Pesanan Dibuat' to Datetime**

In [7]:
pesanan_selesai['Waktu Pesanan Dibuat'] = pd.to_datetime(pesanan_selesai['Waktu Pesanan Dibuat'])

**Add column 'Bulan'**

In [8]:
pesanan_selesai['Bulan'] = pesanan_selesai['Waktu Pesanan Dibuat'].dt.strftime('%B')

In [9]:
analysis_data = pesanan_selesai
analysis_data.head(1)

,No. Pesanan,Status Pesanan,Waktu Pesanan Dibuat,Metode Pembayaran,SKU Induk,Nama Produk,Total Harga Produk,Jumlah Produk di Pesan,Total Pembayaran,Bulan
2,24080146HXVVAV,Selesai,2024-08-01 00:01:00,ShopeePay,8.993320e+12,Body & the Scents by TERATU BEAUTY Eau de Parf...,10000,4,34500,August

# Revenue Analysis

## a. August

In [10]:
august_data = analysis_data[analysis_data['Bulan']=='August']

In [11]:
# Keywords for Highlighted Products in August
august_keywords = ['Skin Health Tea', 'Miracle Deo Natural Roll On', 'Pore Refining & Multibiome Acne Serum']

# Create a column to check if 'Nama Produk' contains any of the keywords
august_data['Is Highlighted'] = august_data['Nama Produk'].apply(
    lambda x: any(keyword in x for keyword in august_keywords))

In [13]:
# August Highlighted Products vs Non-Highlighted Products
august_comparison = august_data.groupby(['Bulan', 'Is Highlighted'])['Total Harga Produk'].sum().reset_index()


august_pivot = pd.pivot_table(august_comparison, index='Bulan', columns='Is Highlighted', values='Total Harga Produk').reset_index()

august_pivot.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
august_pivot['Hihglighted Products Contribution'] = (august_pivot['Highlighted Products']/
                                                     (august_pivot['Highlighted Products'] + august_pivot['Non-Highlighted Products']) * 100
                                                     )
august_pivot['Hihglighted Products Contribution'] = round(august_pivot['Hihglighted Products Contribution'], 2)
august_pivot.columns = ['Month', 'Non-Highlight Revenue', 'Highlight Revenue', 'Highlight Contribution(%)']
august_pivot

    Month  Non-Highlight Revenue  Highlight Revenue  Highlight Contribution(%)
0  August             2519183947           88250888                       3.38

## b. September

In [14]:
september_data = analysis_data[analysis_data['Bulan']=='September']

In [15]:
# Keywords for Highlighted Products in September
september_keywords = ['Skin Barrier Serum', 'Pore Refining & Multibiome Acne Serum', 'Intensive Acne Solution', 
            '2 in 1 Acne Serum', 'Skin Health Tea', 'Gentle Acne Body Wash']

# Create a column to check if 'Nama Produk' contains any of the keywords
september_data['Is Highlighted'] = september_data['Nama Produk'].apply(
    lambda x: any(keyword in x for keyword in september_keywords))

In [23]:
# Highlighted Products vs Non-Highlighted Products in September
september_comparison = september_data.groupby(['Bulan', 'Is Highlighted'])['Total Harga Produk'].sum().reset_index()

september_pivot = pd.pivot_table(september_comparison, index='Bulan', columns='Is Highlighted', values='Total Harga Produk').reset_index()

september_pivot.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
september_pivot['Hihglighted Products Contribution'] = (september_pivot['Highlighted Products']/
                                                     (september_pivot['Highlighted Products'] + september_pivot['Non-Highlighted Products']) * 100
                                                     )
september_pivot['Hihglighted Products Contribution'] = round(september_pivot['Hihglighted Products Contribution'], 2)
september_pivot.columns = ['Month', 'Non-Highlight Revenue', 'Highlight Revenue', 'Highlight Contribution(%)']
september_pivot

,Month,Non-Highlight Revenue,Highlight Revenue,Highlight Contribution(%)
0,September,2652650135,320050887,10.77

## c. October

In [17]:
october_data = analysis_data[analysis_data['Bulan']=='October']

In [18]:
# Keywords for Highlighted Products in October
october_keywords = ['Skin Barrier Serum', 'Pore Refining & Multibiome Acne Serum', 'Intensive Acne Solution', 
            '2 in 1 Acne Serum', 'Skin Health Tea', 'Gentle Acne Body Wash']

# Create a column to check if 'Nama Produk' contains any of the keywords
october_data['Is Highlighted'] = october_data['Nama Produk'].apply(
    lambda x: any(keyword in x for keyword in october_keywords))

In [24]:
# Highlighted Products vs Non-Highlighted Products in October
october_comparison = october_data.groupby(['Bulan', 'Is Highlighted'])['Total Harga Produk'].sum().reset_index()

october_pivot = pd.pivot_table(october_comparison, index='Bulan', columns='Is Highlighted', values='Total Harga Produk').reset_index()

october_pivot.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
october_pivot['Hihglighted Products Contribution'] = (october_pivot['Highlighted Products']/
                                                     (october_pivot['Highlighted Products'] + october_pivot['Non-Highlighted Products']) * 100
                                                     )
october_pivot['Hihglighted Products Contribution'] = round(october_pivot['Hihglighted Products Contribution'], 2)
october_pivot.columns = ['Month', 'Non-Highlight Revenue', 'Highlight Revenue', 'Highlight Contribution(%)']
october_pivot

,Month,Non-Highlight Revenue,Highlight Revenue,Highlight Contribution(%)
0,October,2824253461,287709242,9.25

## d. Month-to-Month Growth

In [25]:
highlighted_products_impact = pd.concat([august_pivot, september_pivot, october_pivot], axis=0)

highlighted_products_impact['Total Revenue'] = highlighted_products_impact['Non-Highlight Revenue'] + highlighted_products_impact['Highlight Revenue']

highlighted_products_impact['Non-Highlight Revenue Growth(%)'] = highlighted_products_impact['Non-Highlight Revenue'].pct_change() * 100
highlighted_products_impact['Non-Highlight Revenue Growth(%)'] = round(highlighted_products_impact['Non-Highlight Revenue Growth(%)'], 2)

highlighted_products_impact['Highlight Revenue Growth(%)'] = highlighted_products_impact['Highlight Revenue'].pct_change() * 100
highlighted_products_impact['Highlight Revenue Growth(%)'] = round(highlighted_products_impact['Highlight Revenue Growth(%)'], 2)

highlighted_products_impact

,Month,Non-Highlight Revenue,Highlight Revenue,Highlight Contribution(%),Total Revenue,Non-Highlight Revenue Growth(%),Highlight Revenue Growth(%)
0,August,2519183947,88250888,3.38,2607434835,NaN,NaN
0,September,2652650135,320050887,10.77,2972701022,5.30,262.66
0,October,2824253461,287709242,9.25,3111962703,6.47,-10.11

# Quantity Analysis

## a. August

In [26]:
august_comparison_qty = august_data.groupby(['Bulan', 'Is Highlighted'])['Jumlah Produk di Pesan'].sum().reset_index()


august_pivot_qty = pd.pivot_table(august_comparison_qty, index='Bulan', columns='Is Highlighted', values='Jumlah Produk di Pesan').reset_index()

august_pivot_qty.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
august_pivot_qty['Hihglighted Products Contribution'] = (august_pivot_qty['Highlighted Products']/
                                                     (august_pivot_qty['Highlighted Products'] + august_pivot_qty['Non-Highlighted Products']) * 100
                                                     )
august_pivot_qty['Hihglighted Products Contribution'] = round(august_pivot_qty['Hihglighted Products Contribution'], 2)
august_pivot_qty.columns = ['Month', 'Non-Highlight Quantity', 'Highlight Quantity', 'Highlight Contribution']
august_pivot_qty

    Month  Non-Highlight Quantity  Highlight Quantity  Highlight Contribution
0  August                   77723                2162                    2.71

## b. September

In [27]:
september_comparison_qty = september_data.groupby(['Bulan', 'Is Highlighted'])['Jumlah Produk di Pesan'].sum().reset_index()

september_pivot_qty = pd.pivot_table(september_comparison_qty, index='Bulan', columns='Is Highlighted', values='Jumlah Produk di Pesan').reset_index()

september_pivot_qty.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
september_pivot_qty['Hihglighted Products Contribution'] = (september_pivot_qty['Highlighted Products']/
                                                     (september_pivot_qty['Highlighted Products'] + september_pivot_qty['Non-Highlighted Products']) * 100
                                                     )
september_pivot_qty['Hihglighted Products Contribution'] = round(september_pivot_qty['Hihglighted Products Contribution'], 2)
september_pivot_qty.columns = ['Month', 'Non-Highlight Quantity', 'Highlight Quantity', 'Highlight Contribution']
september_pivot_qty

,Month,Non-Highlight Quantity,Highlight Quantity,Highlight Contribution
0,September,91999,6667,6.76

## c. October

In [28]:
# October Comparison
october_comparison_qty = october_data.groupby(['Bulan', 'Is Highlighted'])['Jumlah Produk di Pesan'].sum().reset_index()

october_pivot_qty = pd.pivot_table(october_comparison_qty, index='Bulan', columns='Is Highlighted', values='Jumlah Produk di Pesan').reset_index()

october_pivot_qty.columns = ['Bulan', 'Non-Highlighted Products', 'Highlighted Products']
october_pivot_qty['Hihglighted Products Contribution'] = (october_pivot_qty['Highlighted Products']/
                                                     (october_pivot_qty['Highlighted Products'] + october_pivot_qty['Non-Highlighted Products']) * 100
                                                     )
october_pivot_qty['Hihglighted Products Contribution'] = round(october_pivot_qty['Hihglighted Products Contribution'], 2)
october_pivot_qty.columns = ['Month', 'Non-Highlight Quantity', 'Highlight Quantity', 'Highlight Contribution']
october_pivot_qty

     Month  Non-Highlight Quantity  Highlight Quantity  Highlight Contribution
0  October                   95579                5835                    5.75

## d. Month-to-Month Growth

In [35]:
highlighted_products_impact_qty = pd.concat([august_pivot_qty, september_pivot_qty, october_pivot_qty], axis=0)

highlighted_products_impact_qty['Total Quantity'] = highlighted_products_impact_qty['Non-Highlight Quantity'] + highlighted_products_impact_qty['Highlight Quantity']

highlighted_products_impact_qty['Non-Highlight Quantity Growth(%)'] = highlighted_products_impact_qty['Non-Highlight Quantity'].pct_change() * 100
highlighted_products_impact_qty['Non-Highlight Quantity Growth(%)'] = round(highlighted_products_impact_qty['Non-Highlight Quantity Growth(%)'], 2)

highlighted_products_impact_qty['Highlight Quantity Growth(%)'] = highlighted_products_impact_qty['Highlight Quantity'].pct_change() * 100
highlighted_products_impact_qty['Highlight Quantity Growth(%)'] = round(highlighted_products_impact_qty['Highlight Quantity Growth(%)'], 2)

highlighted_products_impact_qty.rename(columns={'Highlight Contribution': 'Highlight Contribution(%)'}, inplace=True)
highlighted_products_impact_qty

,Month,Non-Highlight Quantity,Highlight Quantity,Highlight Contribution(%),Total Quantity,Non-Highlight Quantity Growth(%),Highlight Quantity Growth(%)
0,August,77723,2162,2.71,79885,NaN,NaN
0,September,91999,6667,6.76,98666,18.37,208.37
0,October,95579,5835,5.75,101414,3.89,-12.48

In [36]:
df.shape[0]

151991